.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aquamarine;
}
.header nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.header nav a:hover {
  color: rgb(156, 4, 4);
}
